---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-cloudflare
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: ">=37.1.0 <=38.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik-repo
        namespace: traefik
      interval: 1m
  values:
    providers:
      kubernetesCRD:
        enabled: true
        allowExternalNameServices: true
        allowCrossNamespaces: true
        ingressClass: traefik-cloudflare
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
    ports:
      web:
        port: 9080
      websecure:
        port: 9443
    api:
      dashboard: true
      insecure: true
    gateway:
      listeners:
        web:
          port: 9080
          protocol: HTTP
          namespacePolicy:
            from: All
        websecure:
          port: 9443
          protocol: HTTPS
          namespacePolicy:
            from: All
          mode: Terminate
          certificateRefs:
            - kind: Secret
              name: traefik-selfsigned-tls
              group: ""
    service:
      enabled: true
      type: LoadBalancer
      annotations: { external-dns.alpha.kubernetes.io/hostname: "cflan.nite.name" }
      labels: { color: "green" }
    metrics:
      prometheus:
        addRoutersLabels: true
        serviceMonitor:
          enabled: true
    logs:
      access:
        format: common
        enabled: true